<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="reportTest">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.lh.selenium.test.testsc">
      </class>
    </classes>
  </test>
  <listeners>
  <listener class-name="com.lh.selenium.util.ExtentTestNGIReporterListener"></listener>
  </listeners>
  
</suite> <!-- Suite -->